*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header style */

header{
   
    height: 500px;
    background-color: lightblue;
}

.sub-header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;

}


.flex-container-section1{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 50%;
    background-color: orange;
    margin: 0 auto;
    
}

.link{
    width: 60%;
}

.logo, .login{
    width: 20%;
}

p{
    font-size: 15px;
    padding: 5px;
    width: 100%;
    border-style: dashed
}


.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;
    background-color: navy;
}

.pink{
    width: 40%;
    height: 80%;
    margin: 0 auto;
    background-color: rgb(236, 103, 236);
    border-style: dashed
}

/* main style */

.main-section1{
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
    align-items: center;

}

.blue-sec1{

    background-color: rgb(63, 121, 238);
    width: 40%;
    height: 85%;
    border-style: dashed
}

.lightpink-sec1{
    background-color: lightpink;
    width: 20%;
    height: 85%;
    border-style: dashed
 }

 .main-section2{
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(187, 182, 182);

}

.blue-sec2{

    background-color: rgb(63, 121, 238);
    width: 20%;
    height: 85%;
    border-style: dashed
}

.lightpink-sec2{
    background-color: lightpink;
    width: 40%;
    height: 85%;
    border-style: dashed

}

.main-section3{
    display: flex;
    justify-content: center;
    height: 500px;
    margin: 0 auto;
    align-items: center;

}

.blue-sec3{

    background-color: rgb(63, 121, 238);
    width: 40%;
    height: 85%;
    border-style: dashed
}

.lightpink-sec3{
    background-color: lightpink;
    width: 20%;
    height: 85%;
    border-style: dashed
}


.main-section4{
    display: flex;
    justify-content: center;
    height: 800px;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(187, 182, 182);

}

.green-sec4{
    background-color: green;
    width: 60%;
    height: 90%;
    border-style: dashed
}

