* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header style */

header {

    height: 500px;
    background-color: lightblue;
}

.sub-header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;

}


.flex-container-section1 {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 60%;
    background-color: orange;

}

.link {
    width: 60%;
    text-align: center;
}

.logo,
.login {
    width: 20%;
}

.login {
    text-align: right;
}

header p {
    font-size: 15px;
    padding: 5px;
    border-style: dashed
    
}


.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;
    background-color: navy;
}

.pink {
    width: 45%;
    height: 80%;
    background-color: rgb(236, 103, 236);
    border-style: dashed
}

/* --------------------------------------------- */
/* main style */

.main-section1 {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;

}

.blue-sec1 {

    background-color: rgb(63, 121, 238);
    width: 40%;
    height: 85%;
    border-style: dashed
}

.lightpink-sec1 {
    background-color: lightpink;
    width: 20%;
    height: 85%;
    border-style: dashed
}

.main-section2 {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    background-color: rgb(187, 182, 182);

}

.blue-sec2 {

    background-color: rgb(63, 121, 238);
    width: 20%;
    height: 85%;
    border-style: dashed
}

.lightpink-sec2 {
    background-color: lightpink;
    width: 40%;
    height: 85%;
    border-style: dashed
}

.main-section3 {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;

}

.blue-sec3 {

    background-color: rgb(63, 121, 238);
    width: 40%;
    height: 85%;
    border-style: dashed
}

.lightpink-sec3 {
    background-color: lightpink;
    width: 20%;
    height: 85%;
    border-style: dashed
}


.main-section4 {
    display: flex;
    justify-content: center;
    height: 800px;
    align-items: center;
    background-color: rgb(187, 182, 182);

}

.green-sec4 {
    background-color: green;
    width: 60%;
    height: 90%;
    border-style: dashed
}

/* ---------------------------------------------- */
/* Footer Style */
.footer-section1 {
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: flex-start;
    background-color: rgb(35, 34, 34);

}

.redpink-sec1 {
    background-color: rgb(248, 129, 149);
    width: 15%;
    height: 90%;
    border-style: dashed;
    margin-top: 15px;

}

.teal-sec1 {

    background-color: teal;
    width: 11.25%;
    height: 90%;
    border-style: dashed;
    border-color: white;
    margin-top: 15px;
}

hr {
    border-color: rgb(187, 182, 182);
}

.footer-section2 {
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: flex-end;
    background-color: rgb(35, 34, 34);
}

.footer-subsection2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(21, 229, 181);
    width: 60%;
}

.footer-logo,
.footer-button {
    background-color: rgb(243, 157, 171);
}

footer p {
    font-size: 15px;
    padding: 2px 8px 2px 8px;
    border-style: dashed
}